.box{
    height: 100%;
    @function vw($px) {
        @return ($px / 750) * 100vw;
    }
    .hbox{
        width: 100%;
        height: vw(324);
        // background: #ccc;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .hset1{
            padding: vw(20);
            box-sizing: border-box;
            width: 49%;
            height: 99%;
            display: flex;
            justify-content: space-between;
            ul{
                li:nth-child(1){
                    font-size: vw(32);
                    color: gold;
                }
                li:nth-child(2){
                    font-size: vw(22);
                    color: gray;
                    margin-top: vw(10)
                }
            }
            img{
                height: vw(132);
                width: vw(132);
                align-self: flex-end;
            }
        }
        .hset2{
            width: 49%;
            height: 99%;
            border:1px solid gainsboro;
            display: flex;
            flex-direction: column;
            .hset21{
                width: 100%;
                height: 49%;
                // background: #ccc;
                // border: 1px solid red;
            }
            .hset21{
                display: flex;
                justify-content: space-around;
                align-items: center;
                img{
                    width: vw(88);
                    height: vw(88);
                }
                li:nth-child(1){
                    font-size: vw(32);
                }
                li:nth-child(2){
                    font-size: vw(22);
                    color: gray;
                    margin-top: vw(10)
                }
            }
        }
        
    }
    .mbox{
        width: 100%;
        margin-bottom: vw(110);
        .m1{
            margin: auto;
            width: vw(320);
            height: vw(132);
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2{
                font-size: vw(32);
            }
            span{
                width: vw(50);
                height: 0;
                border: 1px solid black;
            }
        }
        .m2{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .m21{
                width: vw(350);
                height: vw(530);
                // border: 1px solid red;
                img{
                    width: vw(350);
                    height: vw(350);
                }
                h2{
                    font-size: vw(28);
                    font-weight: bold;
                }
                ul{
                    height: vw(140);
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    li:nth-child(2){
                        border-bottom: 1px dashed black;
                        span:nth-child(1){
                            color: orange;
                            font-size: vw(28);
                        }
                        span:nth-child(2){
                            color: orange;
                            font-size: vw(18);
                            border: 1px solid orange;
                        }
                    }
                }
            }
            .m22{
                width: 100%;
                height: vw(88);
                p{
                    line-height: vw(88);
                    text-align: center;
                }
            }
        }
        .m3{
            margin: auto;
            width: vw(320);
            height: vw(132);
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2{
                font-size: vw(32);
            }
            span{
                width: vw(50);
                height: 0;
                border: 1px solid black;
            }
        }
        .m4{
            width: 100%;
            height: vw(370);
            // background: #0ccc00;
            display: flex;
            justify-content: space-between;
            section{
                height: 100%;
                width: vw(220);
                // border: 1px solid  red;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                h2{
                    width: vw(130);
                    height: vw(46);
                    font-size: vw(30);
                    background: #000;
                    color: #fff;
                    text-align: center;
                    line-height: vw(46);
                }
                img{
                    height: vw(121);
                    width: vw(200);
                }
                .m4sp1{
                    span:nth-child(1){
                        font-size: vw(25);
                        color: orange;
                    }
                    span:nth-child(2){
                        font-size: vw(20);
                        color: gray;
                    }
                }
            }
            
        }
    }


    .fbox{
        height:vw(110);
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        background: #ffffff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        figure{
            text-align: center;
            img{
                width: vw(48);
                height: vw(48);
            }
        }
    }
}