.box {
  height: 100%;
}

.box .hbox {
  width: 100%;
  height: 43.2vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box .hbox .hset1 {
  padding: 2.66667vw;
  box-sizing: border-box;
  width: 49%;
  height: 99%;
  display: flex;
  justify-content: space-between;
}

.box .hbox .hset1 ul li:nth-child(1) {
  font-size: 4.26667vw;
  color: gold;
}

.box .hbox .hset1 ul li:nth-child(2) {
  font-size: 2.93333vw;
  color: gray;
  margin-top: 1.33333vw;
}

.box .hbox .hset1 img {
  height: 17.6vw;
  width: 17.6vw;
  align-self: flex-end;
}

.box .hbox .hset2 {
  width: 49%;
  height: 99%;
  border: 1px solid gainsboro;
  display: flex;
  flex-direction: column;
}

.box .hbox .hset2 .hset21 {
  width: 100%;
  height: 49%;
}

.box .hbox .hset2 .hset21 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box .hbox .hset2 .hset21 img {
  width: 11.73333vw;
  height: 11.73333vw;
}

.box .hbox .hset2 .hset21 li:nth-child(1) {
  font-size: 4.26667vw;
}

.box .hbox .hset2 .hset21 li:nth-child(2) {
  font-size: 2.93333vw;
  color: gray;
  margin-top: 1.33333vw;
}

.box .mbox {
  width: 100%;
  margin-bottom: 14.66667vw;
}

.box .mbox .m1 {
  margin: auto;
  width: 42.66667vw;
  height: 17.6vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box .mbox .m1 h2 {
  font-size: 4.26667vw;
}

.box .mbox .m1 span {
  width: 6.66667vw;
  height: 0;
  border: 1px solid black;
}

.box .mbox .m2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box .mbox .m2 .m21 {
  width: 46.66667vw;
  height: 70.66667vw;
}

.box .mbox .m2 .m21 img {
  width: 46.66667vw;
  height: 46.66667vw;
}

.box .mbox .m2 .m21 h2 {
  font-size: 3.73333vw;
  font-weight: bold;
}

.box .mbox .m2 .m21 ul {
  height: 18.66667vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box .mbox .m2 .m21 ul li:nth-child(2) {
  border-bottom: 1px dashed black;
}

.box .mbox .m2 .m21 ul li:nth-child(2) span:nth-child(1) {
  color: orange;
  font-size: 3.73333vw;
}

.box .mbox .m2 .m21 ul li:nth-child(2) span:nth-child(2) {
  color: orange;
  font-size: 2.4vw;
  border: 1px solid orange;
}

.box .mbox .m2 .m22 {
  width: 100%;
  height: 11.73333vw;
}

.box .mbox .m2 .m22 p {
  line-height: 11.73333vw;
  text-align: center;
}

.box .mbox .m3 {
  margin: auto;
  width: 42.66667vw;
  height: 17.6vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box .mbox .m3 h2 {
  font-size: 4.26667vw;
}

.box .mbox .m3 span {
  width: 6.66667vw;
  height: 0;
  border: 1px solid black;
}

.box .mbox .m4 {
  width: 100%;
  height: 49.33333vw;
  display: flex;
  justify-content: space-between;
}

.box .mbox .m4 section {
  height: 100%;
  width: 29.33333vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box .mbox .m4 section h2 {
  width: 17.33333vw;
  height: 6.13333vw;
  font-size: 4vw;
  background: #000;
  color: #fff;
  text-align: center;
  line-height: 6.13333vw;
}

.box .mbox .m4 section img {
  height: 16.13333vw;
  width: 26.66667vw;
}

.box .mbox .m4 section .m4sp1 span:nth-child(1) {
  font-size: 3.33333vw;
  color: orange;
}

.box .mbox .m4 section .m4sp1 span:nth-child(2) {
  font-size: 2.66667vw;
  color: gray;
}

.box .fbox {
  height: 14.66667vw;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box .fbox figure {
  text-align: center;
}

.box .fbox figure img {
  width: 6.4vw;
  height: 6.4vw;
}
