body,html{
    height: 100%;
}
.box{
    height: 100%;
    display: flex;
    flex-direction: column;
    .hboss{
        padding: 10px;
        box-sizing: border-box;
        height: 50px;
        width: 100%;
        // background: #ccc;
        display: flex;
        justify-content: space-between;
        align-items: center;
            .hsp1{
                height: 30px;
                width: 30px;
                line-height: 50px;
                background: url(../images/1.png);
                background-size: 100% 100%;
            }
            .hsp2{
                width: 200px;
                height: 30px;
                background: url(../images/logo.png);
                background-size: 100% 100%;

            }
            .hsp3{
                height: 30px;
                width: 30px;
                line-height: 50px;
                background: url(../images/2.png);
                background-size: 100% 100%;
            }
    }
    .mboss{
        flex: 1;
        overflow: auto;
        background: #f4f4f4;
        .m1{
            height: 200px;
            width: 100%;
            background: url(../images/banner1.jpg);
            background-size: 100% 100%;
        }
        .m2{
            height: 75px;
            width: 100%;
            display: flex;
            justify-content: space-around;
            background: #fff;
            figure{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                margin: 0;
                img{
                    width: 38px;
                    height: 38px;
                }
                figcaption{
                    font-size: 8px;
                }
            }
        }
        .m3{
            width: 100%;
            height: 65px;
            background: url(../images/bg.png);
            background-size: contain;
            margin-top: 10px;
            ul{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                li{ 
                    height: 100%;
                    width: 60%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    .m3sp1{
                        width: 26px;
                        height: 16px;
                        border: 1px solid gold;
                        color: gold;
                        font-size: 12px;
                        line-height: 16px;
                        text-align: center;
                    }
                    .m3sp2{
                        font-size: 12px;
                    }
                }
            }
        }
        .m4{
            width: 100%;
            height: 170px;
            background: url(../images/list1.jpg);
            background-size: 100% 100%;
            margin-top: 20px;
            
        }
        .m5{
            height: 150px;
            display: flex;
            overflow: auto;
            .m51{
                height: 100%;
                width: 96px;
                // border: 1px saddlebrown solid;
                box-sizing: border-box;
                flex-shrink: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                box-sizing: border-box;
                img{
                    width: 90px;
                    height: 57px;
                }
                .m5p1{
                    font-size: 8px;
                }
                .m5p2{
                    font-weight: bold;
                }
            }
        }
        .m6{
            width: 100%;
            height: 170px;
            background: url(../images/list2.jpg);
            background-size: 100% 100%;
            margin-top: 20px;
            
        }
        .m7{
            width: 100%;
            height: 60px;
            margin: auto;
            // background: #ccc;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            background: #fff;
            ul{
                width: 220px;
                display: flex;
                justify-content: space-around;
            }
            p{
                font-size: 9px;
                color: #5a5a5a;
            }
        }
        .m8{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .m9{
                width: 40%;
                // border: 1px saddlebrown solid;
                height: 200px;
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 10px;
                box-sizing: border-box;
                background: #fff;
                img{
                    width: 100%;
                    height: 96px;
                }
                p{
                    font-size: 14px;
                    text-align: center;
                }
                ul{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    .m9li1{
                        color: red;
                        font-weight: bold;
                    }
                    .m9li2{
                        color: #b9b9b9;
                        font-size: 12px;
                    }
                }
            }
        }
        
    }
    .fboss{
        height: 65px;
        width: 100%;
        // background: #ccc;
        display: flex;
        justify-content: space-around;
        figure{
            height: 100%;
            width: 20%;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            img{
                height: 16px;
                width: 30px;
            }
            img:nth-child(2){
                display: none;
            }
            figcaption{
                font-size: 12px;
            }
        }
        figure:hover img:nth-child(1){
            display: none;
        }
        figure:hover img:nth-child(2){
            display: block;
        }
    }
}
